{%extends 'main/base.html'%}
{%load static%}
{%block head_css_site%}
<link rel="stylesheet" href="{%static 'css/createuser.css'%}">
{%endblock head_css_site%}
{%block content%}
<!--Create form-->
<div class="create-user">
    <div class="box-create">
        <div class="form-create">
            <form class="create-form">
                <div class="form-div">
                    <h1 style="color: white;">Create New-User</h1>
                    <br>
                    <div class="id-div">
                        <div class="uname">
                            <label for="username" id="create-label">Username:</label>
                            <input type="text" id="create-input" name="username">
                        </div>
                        <br>
                        <div class="email-id">
                            <label for="username" id="create-label">Email ID:</label>
                            <input type="email" id="create-input" name="username">
                        </div>
                    </div>
                    <br>
                    <div class="name-div">
                        <div class="fname">
                            <label for="password" id="create-label">First Name:</label>
                            <input type="password" id="create-input" name="password">
                        </div>
                        <br>
                        <div class="lname">
                            <label for="password" id="create-label">Last-Name:</label>
                            <input type="password" id="create-input" name="password">
                        </div>
                    </div>
                    <br>

                    <div class="pass-div">
                        <div class="pass">
                            <label for="password" id="create-label">Password:</label>
                            <input type="password" id="create-input" name="password">
                        </div>
                        <br>
                        <div class="cpass">
                            <label for="password" id="create-label">Confirm Password:</label>
                            <input type="password" id="create-input" name="password">
                        </div>
                    </div>

                    <br>
                </div>
                <input type="submit" id="create-submit" value="CREATE">
            </form>
        </div>
    </div>
</div>
<!--Create-form end-->
{% endblock content %}