.entry{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    margin: 0%;
    background: #23242a;
    
    }
    .box-entry{
    position: relative;
    width: 380px;
    height: 490px;
    border-radius: 15px;
   
    overflow: hidden;
    
    }
    .box-entry::before{
      content: '';
        z-index: 1;
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 490px;
        transform-origin: bottom right;
        background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
        animation: animate 6s linear infinite
    }
    .box-entry::after{
      content: '';
        z-index: 1;
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 490px;
        transform-origin: bottom right;
        background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
        animation: animate 6s linear infinite;
        animation-delay: -3s;
    }
    .entry-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    
    }
    .form-entry{
    position: absolute;
    inset: 2px;
    background:#1c1c1c;
    z-index: 10;
    }
    .entry-form{
    
    display: flex;
    margin-top:10px ;
    flex-direction: column;
      align-items: center;
      justify-content: center;
      }
   #entry-label,#entry-input,#entry-select{
    display: block;
    margin-bottom: 10px;
    }
    .stock{
    display: flex;
    margin-left: 40px;
    }
    .stock-in{
    display: flex;
    flex-direction: column;
    }
    .stock-out{
        display: flex;
        flex-direction: column;
        }
    #entry-label{
      font-weight: bold;
      color: azure;
    }
    #entry-select{
        width: 80%;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    #entry-input{
      width: 80%;
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
      #entry-submit{
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 10px;
      }
      #login-submit:hover{
        background-color: #025f07;
      }
      
   
    @keyframes animate{
    0%{
    transform: rotate(0deg);
    }
    100%{
    transform: rotate(360deg);}
    }
    @media (max-width:503px) {
        .entry-section{
        display: flex;
        flex-direction: column;
        }
        .entry{
        width: 100%;
        }
        
    }