/* All Navigation Link CSS  */

body
{
    background-image : linear-gradient(to left,rgb(144, 195, 252),rgba(144, 195, 252,0));
}
#navigation-bar
{
    background-image : linear-gradient(to left,rgb(144, 195, 252),rgba(144, 195, 252,0));
    border : none;
}
#logo
{
    font-family : 'Sofia';
    margin-left: 3%;
}
#logo:hover
{
    font-family : 'Sofia';
    margin-left: 3%;
}

#navbar-link
{
    font-family : 'Sofia';
    padding-right: 40px; 
    padding-left: 30px; 
}

#navbar-link:hover
{
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation:slidebg 5s linear infinite;
}
#all-links
{
    padding-left : 200px;
}

.material-symbols-outlined 
{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
</style>

/* All Text CSS on Home Page */

#heading-text
{
    font-size: 40px;
}
/*login CSS*/
.login{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #23242a;
    
    }
    .box-login{
    position: relative;
    width: 380px;
    height: 420px;
    border-radius: 15px;
   
    overflow: hidden;
    
    }
    .box-login::before{
      content: '';
        z-index: 1;
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 420px;
        transform-origin: bottom right;
        background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
        animation: animate 6s linear infinite
    }
    .box-login::after{
      content: '';
        z-index: 1;
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 420px;
        transform-origin: bottom right;
        background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
        animation: animate 6s linear infinite;
        animation-delay: -3s;
    }
    
    .form-login{
    position: absolute;
    inset: 2px;
    background:#1c1c1c;
    z-index: 10;
    }
    .login-form{
    
    display: flex;
    margin-top:80px ;
    flex-direction: column;
      align-items: center;
      justify-content: center;
      }
   #login-label,#login-input{
    display: block;
    margin-bottom: 10px;
    }
    #login-label{
      font-weight: bold;
      color: azure;
    }
    #login-input{
      width: 80%;
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
      #login-submit{
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 10px;
      }
      #login-submit:hover{
        background-color: #025f07;
      }
      
   
    @keyframes animate{
    0%{
    transform: rotate(0deg);
    }
    100%{
    transform: rotate(360deg);}
    }
/*login end css*/
/* Footer CSS */

#social-media-image
{
    width: 50%;
    margin-left:50%;
}

.text-reset{
    font-family : 'Sofia';
}
.text-uppercase
{
    font-family : 'Sofia';
    text-decoration:bold;
}
.text-reset{
    font-family : 'Abril Fatface';
    font-size: 20px;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
#social-media-links
{
    margin-left:39%;
}
.text-reset:hover
{
    color: #fff;
    box-shadow: inset 200px 0 0 0 #54b3d6;
}
#footer
{
    background-image : linear-gradient(to left,rgb(144, 195, 252),rgba(144, 195, 252,0));
    border : none;
}

#footer-pno
{
    font-family: 'Droid';
    font-size:20px;
}
#footer-address
{
    font-family: 'Lora';
    font-size: 23px;
}
#footer-email
{
    font-family: 'Courier New';
    font-size: 22px;
}

@media (max-width:503px)
{
    #social-media-image
    {
        width: 10%;
    }
}
@include media-breakpoint-up(sm) 
{
    #heading-text 
    {
        font-size: 60px;
    }
}

@include media-breakpoint-up(md) {
    #heading-text 
    {
        font-size: 80px;
    }
}
@include media-breakpoint-up(lg) 
{
    #heading-text 
    {
        font-size: 100px;
    }
}
@keyframes slidebg {
    to {
        background-position:20vw;
    }
    glitch {
        0% {
            clip-path: var(--slice-1);
            transform: translate(-20px, -10px);
        }
        10% {
            clip-path: var(--slice-3);
            transform: translate(10px, 10px);
        }
        20% {
            clip-path: var(--slice-1);
            transform: translate(-10px, 10px);
        }
        30% {
            clip-path: var(--slice-3);
            transform: translate(0px, 5px);
        }
        40% {
            clip-path: var(--slice-2);
            transform: translate(-5px, 0px);
        }
        50% 
        {
            clip-path: var(--slice-3);
            transform: translate(5px, 0px);
        }
        60% 
        {
            clip-path: var(--slice-4);
            transform: translate(5px, 10px);
        }
        70%
        {
            clip-path: var(--slice-2);
            transform: translate(-10px, 10px);
        }
        80% 
        {
            clip-path: var(--slice-5);
            transform: translate(20px, -10px);
        }
        90% {
            clip-path: var(--slice-1);
            transform: translate(-10px, 0px);
        }
        100% {
            clip-path: var(--slice-1);
            transform: translate(0);
        }
}