{%extends 'main/base.html'%}
{%load static%} 
{%block content%}
{%block head_css_site%}
<link rel="stylesheet" href="{%static 'css/index.css'%}" />
{%endblock head_css_site%} 
<section class="banner embed-responsive-item">
  <video class="hidden-sm-down" autoplay loop muted>
    <source
      src="{%static 'videos/warehouse.mp4'%}"
      type="video/mp4"
      id="home-video"
    />
  </video>
</section>
<section class="categories" id='c'>
    <div class='container categories-container text-white' id='c-container'>
        <div class="row">
        <div class="col">
        <div class='categories-left' id='c-left'>
            <h1>Categories</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ante tortor, fringilla sed felis non, suscipit mattis elit. Nunc feugiat enim ut nulla tincidunt, id ornare ligula facilisis. Cras massa libero, ultricies eu laoreet vitae, commodo id augue. Praesent at porta libero.
                Nullam ut ante turpis. Phasellus
                sit amet viverra mauris. Nam tincidunt, 
                tellus et hendrerit hendrerit, nisl nibh gravida sem, et euismod
                nisl ex a tortor.
            </p>
            <a href='#' class='btn btn-success'>Learn More</a>
        </div>
        </div>
        <div class="col">
        <div class='container'>
        <div class='row' id='c-right'>
            <article class='col mx-3' id='category'>
                <span class='col-icon' id="i1"><i class="bi bi-boxes"></i></span>
                <h5 class='text-align-content-center'>Track Orders</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </article>
            <article class='col mx-3' id='category'>
                <span class='col-icon' id="i2"><i class="bi bi-database"></i></span>
                <h5>Predict Stocks</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </article>
            <article class='col mx-3' id='category'>
                <span class='col-icon' id="i3"><i class="bi bi-database"></i></span>
                <h5 class='c-title'>Build Statistics</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </article>
            </div>
            </div>
        </div>
    </div>
</section>
{%endblock content%}