{%extends 'main/base.html'%} 
{%load static%} 
{%block content%}
{%block head_css_site%}
<link rel='stylesheet' href='{%static 'css/report.css'%}'/>
{%endblock head_css_site%}
<section class="charts">
    <div class="row">
        <div class="col">
            <img src="{%static 'images/img_1.svg'%}" alt="Chart 1" id="chart-image">
        </div>
        <div class="col">
            <img src="{%static 'images/img_1.svg'%}" alt="Chart 1" id="chart-image">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="{%static 'images/img_1.svg'%}" alt="Chart 1" id="chart-image">
        </div>
        <div class="col">
            <img src="{%static 'images/img_1.svg'%}" alt="Chart 1" id="chart-image">
        </div>
    </div>
    <div class="row"><img src="{%static 'images/img_1.svg'%}" alt="Chart 1" id="chart-image"></div>
</section>

{% endblock content %}